<div class="header">
 <div> logo monde </div>
  <img [attr.src]="server+world.logo" /> 
  <span id="worldname"> {{world.name}} </span>
 <div> argent </div>
   <img [attr.src]="server+argent.logo" /> 
  <span id="argentname"> {{argent.name}} </span>
 <div> multiplicateur </div>
    <img [attr.src]="server+multiplicateur.logo" /> 
  <span id="multiplicateurname"> {{multiplicateur.name}} </span>
 <div> ID du joueur </div>
     <img [attr.src]="server+IDjoueur.logo" /> 
  <span id="IDjoueur"> {{IDjoueur.name}} </span>
 </div>
 <div class="main">
 <div> liste des boutons de menu </div>
 <div class="product">
 <app-product [prod]="world.products.product[0]"
  class="product col-md-6"></app-product>
 <div> premier produit </div>
 <div> second produit </div>
 <div> troisième produit </div>
 <div> quatrième produit </div>
 <div> cinquième produit </div>
 <div> sixième produit </div>
</div>
 </div>